
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    font-size: 3.2rem;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#input button {
    background: none;
    border: none;
    padding: 20px;
    font-size: 80px;
    transition: 0.18s;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#input button:hover {
    background: #45507c;
    cursor: pointer;
    transform: rotate(15deg) scale(1.2);
}

#output {
    flex-direction: column;
    background: #ed3e3e;
    font-size: 3.8rem;
    color: white;
    padding: 50px 0;
}

#selections {
    display: flex;
    gap: 0;
    height: 280px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#selections div {
    font-size: 150px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerSelection {
    transform: rotate(90deg) scaleX(-1);
}

#cpuSelection {
    transform: rotate(-90deg);
}

#winner {
    font-weight: 800;
    height: 150px;
    align-content: center;
}
